<div class="container text-center">
    <div class="row head-row">
        <div class="col-md-12">
            <h1 class="header display-1"><span class="accent-word-3">Blocipedia:</span> Social, Markdown Wikis</h1>
        </div>
    
        <div class="col-md-12 align-items-center">
            <div class="cta-box">
                <h4 class="lead cta-text"><span class="accent-word-2">Create</span> and share Markdown Wikis</h4>
                <a class="my-btn btn-lg" href="#" role="button">Sign up</a>
            </div>
        </div>
    </div>
    
    <div class="row id="plans">
        <div class="col-md-2"></div>
        <div class="col-md-4 plans">
            <p>Create as many <span class="accent-word-1">public</span> wikis as you want!</p>
            <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
            <p class="lead">Free Plan</p>
        </div>
        <div class="col-md-4 plans">
            <p>Create as many <span class="accent-word-1">private</span> wikis as you want!</p>
            <i class="fa fa-money fa-5x" aria-hidden="true"></i>
            <p class="lead">Premium Plan</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

