    <div class="row cta-box">
        <div class="col-md-12 cta">
            <h2 class="lead cta-text"><span class="accent-word-2">Create</span> and share Markdown Wikis</h2>
        </div> 
        <div class="row" id="buttons">
            <div class="col-sm-6 cta-btns text-center">
                <%= link_to "Sign Up!", new_user_registration_path, class:'btn my-btn-sign-up' %>
            </div>
            <div class="col-sm-6 cta-btns text-center">
                <%= link_to "Upgrade!", new_charge_path, class:'btn my-btn-upgrade' %>
            </div>
        </div>
    </div>
    <div class="row text-center" id="plans">
        <div class="col-md-6">
            <p class="lead">Free Plan</p>
            <p>Create as many <span class="accent-word-1">public</span> wikis as you want!</p>
            <div class="icon-box">
                <i class="fa fa-thumbs-o-up fa-4x" id="thumbs-up" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-6">
            <p class="lead">Premium Plan</p>
            <p>Create as many <span class="accent-word-1">private</span> wikis as you want!</p>
            <div class="icon-box">
                <i class="fa fa-money fa-4x" id="money" aria-hidden="true"></i>
            </div>
        </div>
    </div>


