<h1>All Wikis</h1>

<% @wikis.each do |wiki| %>
    <p><%= link_to wiki.title, wiki_path(wiki.id) %></p>
<% end %>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Wikis</h1>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    
</div>









<span class="pull-right"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a> <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></span>