<div class="container wiki-module">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="wiki-header"><%= @wiki.title %></h2>
    </div>
    <div class="panel-body">
        <p><%= @wiki.body %></p>
    </div>
  </div>
  
  <div class="wiki-btn text-center">
    <%= link_to "Edit", edit_wiki_path, class:'btn my-btn' %>
  </div>
</div>


