/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 

h1.header {
 font-family: 'Special Elite', cursive;
 color: #C67B52;
 font-size: 3.5em;
 letter-spacing: 1.5px;
}


body.bg {
 font-family: 'Oswald', sans-serif;
 color:#97938B;
 background-color: #EEEBE7;
 background-image: url(asset-path('cubes.png'));
 background-size: auto;
 background-repeat: repeat;
 background-position: center;
 letter-spacing: .8px;
}

span.accent-word-1 {
 color: #C67B52;
 clear: float;
}

span.accent-word-2 {
 color:#4B8C8A;
}

span.accent-word-3 {
 color: #38353A;
}

.my-btn {
 border-radius: 25px;
 border: 2px solid #C67B52;
 color:#C67B52;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn:hover {
 border: 2px solid #C67B52;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #C67B52;
 text-transform: uppercase;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.my-btn-sign-up {
 border-radius: 25px;
 border: 2px solid #C67B52;
 color:#C67B52;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn-sign-up:hover {
 border: 2px solid #C67B52;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #C67B52;
 text-transform: uppercase;
}

.my-btn-upgrade {
 border-radius: 25px;
 border: 2px solid #4B8C8A;
 color:#4B8C8A;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn-upgrade:hover {
 border: 2px solid #4B8C8A;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #4B8C8A;
 text-transform: uppercase;
}


.my-btn-danger {
 border-radius: 25px;
 border: 2px solid #9E1111;
 color:#9E1111;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn-danger:hover {
 border: 2px solid #9E1111;
 color:#EEEBE7;
 text-decoration: none;
 padding: 10px 24px;
 background-color: #9E1111;
 transition: all .3s;
 text-transform: uppercase;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#top-nav{
 margin-top: 15px;
}


#sign-in-nav {
 margin-top: -5px;
}

.nav-pills > li > a {
 border-radius: 25px;
 border: 2px solid rgba(198, 123, 82, 0);
 color: #4b8c8a;
 padding: 6px 20px;
 margin-right: 5px;
}

.nav-pills > li > a:hover {
 color: #4b8c8a;
 background-color: rgba(75, 140, 138, 0);
 border: 2px solid #c67b52;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
 background-color: transparent;
 border-color: #4b8c8a;
 color: #4b8c8a;
}
/*
.nav-pills > li.active > a {
 color: #4b8c8a;
 background-color: rgba(75, 140, 138, 0);
 border: 2px solid #c67b52;
}

.nav-pills > li.active > a:hover {
 color: #4b8c8a;
 background-color: rgba(75, 140, 138, 0);
 border: 2px solid #c67b52;
}

.nav-pills > li.active > a:focus {
 color: #4b8c8a;
 background-color: rgba(75, 140, 138, 0);
 border: 2px solid #c67b52;
}
*/

.dropdown-menu {
 color: #C67B52;
 background-color: #38353A;
}

a.dropdown-toggle:focus {
 color: #38353A;
}

.dropdown-menu li a {
 color: #C67B52;
}

.dropdown-menu li a:hover {
 text-decoration: none;
 color: #4b8c8a;
 background-color: rgba(255, 255, 255, 0.15);
}

ul li {
 list-style: none;
 display: inline;
}

a.navbar-link {
 color:#4B8C8A;
 transition: all .3s;
}

a.navbar-link:hover {
 color:#C67B52;
 text-decoration: none;
}

a {
 color:#4B8C8A;
 transition: all .3s;
}

a:hover {
 color:#C67B52;
 text-decoration: none;
}

hr {
 border-bottom: 10px dotted #C67B52;
 border-top: none;
 border-left: none;
 border-right: none;
 width: 10%;
 float :left;
 
}

ul.dropdown-menu.pull-right {
     right: 0;
     left: 0;
     top: 50px;
     font-size: 2em;
}

form#new_user {
    background: #38353a;
    box-shadow: 0px 5px 25px 2px #38353a;
    padding: 50px;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #97938B;
    background-color: #38353a;
    background-image: none;
    border: 1px solid #97938B;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #4b8c8a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

//..............................................................................................................................
//.MMMMMM...MMMMMM.................dddd.iiii...................QQQQQQQ................................iiii......................
//.MMMMMM...MMMMMM.................dddd.iiii.................QQQQQQQQQQ...............................iiii......................
//.MMMMMM...MMMMMM.................dddd.....................QQQQQQQQQQQQ........................................................
//.MMMMMMM.MMMMMMM..eeeeee....ddddddddd.iiii..aaaaaa........QQQQQ..QQQQQ.Quuu..uuuuu..eeeeee..errrrrrriiii..eeeeee...sssssss....
//.MMMMMMM.MMMMMMM.eeeeeeee..dddddddddd.iiii.aaaaaaaa...... QQQQ.....QQQQQuuu..uuuuu.eeeeeeee.errrrrrriiii.eeeeeeee.essssssss...
//.MMMMMMM.MMMMMMMeeee.eeee.edddd.ddddd.iiiiiaaa.aaaaa..... QQQ......QQQQQuuu..uuuuuueee.eeee.errrr...iiiiieee.eeee.esss.ssss...
//.MMMMMMMMMMMMMMMeeee..eeeeeddd...dddd.iiii....aaaaaa..... QQQ......QQQQQuuu..uuuuuueee..eeeeerrr....iiiiieee..eeeeessss.......
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiii.aaaaaaaaa..... QQQ..QQQ.QQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee.ssssss.....
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiiiiaaaaaaaaa..... QQQQ.QQQQQQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee..sssssss...
//.MMMM.MMMMM.MMMMeeee......eddd...dddd.iiiiiaaa.aaaaa......QQQQQ.QQQQQQ.Quuu..uuuuuueee......errr....iiiiieee............ssss..
//.MMMM.MMMMM.MMMMeeee..eeeeedddd.ddddd.iiiiiaaa.aaaaa......QQQQQQQQQQQQ.Quuuu.uuuuuueee..eeeeerrr....iiiiieee..eeeeesss..ssss..
//.MMMM.MMMMM.MMMM.eeeeeeee..dddddddddd.iiiiiaaaaaaaaa.......QQQQQQQQQQQ..uuuuuuuuuu.eeeeeeee.errr....iiii.eeeeeeee.essssssss...
//.MMMM.MMMMM.MMMM..eeeeee....ddddddddd.iiii.aaaaaaaaa.........QQQQQQQQQQ..uuuuuuuuu..eeeeee..errr....iiii..eeeeee....ssssss....
//....................................................................QQQ.......................................................
//..............................................................................................................................

@media only screen and (max-width: 768px) {
  .standard-menu {
   display: none;
  }
}

@media only screen and (min-width: 769px) {

  .mobile-menu {
   display: none;
  }
}