/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 
h1.header {
 font-family: 'Special Elite', cursive;
 color: #C67B52;
 font-size: 3.5em;
}


body.bg {
 font-family: 'Oswald', sans-serif;
 color:#97938B;
 background-color: #EEEBE7;
 background-image: url(asset-path('cubes.png'));
 background-size: auto;
 background-repeat: repeat;
 background-position: center;
}

span.accent-word-1 {
 color: #C67B52;
 clear: float;
}

span.accent-word-2 {
 color:#4B8C8A;
}

span.accent-word-3 {
 color: #38353A;
}

.my-btn {
 border-radius: 4px;
 border: 2px solid #C67B52;
 color:#C67B52;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn:hover {
 border-radius: 4px;
 border: 2px solid #C67B52;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #C67B52;
 text-transform: uppercase;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.my-btn-sign-up {
 border-radius: 4px;
 border: 2px solid #C67B52;
 color:#C67B52;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
 //float:right;
}

.my-btn-sign-up:hover {
 border-radius: 4px;
 border: 2px solid #C67B52;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #C67B52;
 text-transform: uppercase;
}

.my-btn-upgrade {
 border-radius: 4px;
 border: 2px solid #4B8C8A;
 color:#4B8C8A;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
// float:left;
 
}

.my-btn-upgrade:hover {
 border-radius: 4px;
 border: 2px solid #4B8C8A;
 text-decoration: none;
 padding: 10px 24px;
 color:#EEEBE7;
 background-color: #4B8C8A;
 text-transform: uppercase;
}


.my-btn-danger {
 border-radius: 4px;
 border: 2px solid #9E1111;
 color:#9E1111;
 text-decoration: none;
 padding: 10px 24px;
 background-color: transparent;
 transition: all .3s;
 text-transform: uppercase;
}

.my-btn-danger:hover {
 border-radius: 4px;
 border: 2px solid #9E1111;
 color:#EEEBE7;
 text-decoration: none;
 padding: 10px 24px;
 background-color: #9E1111;
 transition: all .3s;
 text-transform: uppercase;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#top-nav{
 margin-top: 15px;
}

#sign-in-nav {
 margin-top: 15px;
}

.nav-pills > li.active > a {
 color: #EEEBE7;
 background-color: #c67b52;
}

.nav-pills > li.active > a:hover {
 color: #C67B52;
 background-color: #38353A;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.nav-pills > li.active > a:focus {
 color: #C67B52;
 background-color: #38353A;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.nav-pills > li > a:hover {
 color: #C67B52;
 background-color: #38353A;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
 color: #C67B52;
 background-color: #38353A;
}

a.dropdown-toggle:focus {
 color: #38353A;
}

.dropdown-menu li a {
 color: #C67B52;
}

.dropdown-menu li a:hover {
 text-decoration: none;
 color: #4b8c8a;
 background-color: rgba(255, 255, 255, 0.15);
}

ul li {
 list-style: none;
 display: inline;
}

a.navbar-link {
 color:#4B8C8A;
 transition: all .3s;
}

a.navbar-link:hover {
 color:#C67B52;
 text-decoration: none;
}

a {
 color:#4B8C8A;
 transition: all .3s;
}

a:hover {
 color:#C67B52;
 text-decoration: none;
}

hr {
 border-bottom: 10px dotted #EEEBE7;
 border-top: none;
 border-left: none;
 border-right: none;
 width: 10%;
 float :left;
 
}