// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-row {
    margin-top: 20px;
}

.row.cta-box {
    max-width: 50%;
    margin: 50px auto;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 4px 15px 2px #565656;
    padding: 40px 15px;
    text-align: center;
    background-color: rgb(56, 53, 58);
}


h2.lead.cta-text {
    font-size: 2em;
    margin-bottom: 50px;
    
}

#buttons {
    max-width: 40%;
    margin: 10px auto;
}

#plans {
    max-width: 50%;
    margin: auto;
}

.icon-box {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 4px solid #4b8c8a;
    border-radius: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

i {
    color:#4B8C8A;
    margin: 20px auto;
}


i#thumbs-up {
    font-size: 3em;
   // border: 4px solid #4b8c8a;
   // padding: 21px 26px;
   // border-radius: 100%;
   // box-sizing: border-box;
}

i#money {
    font-size: 3em;
   // border: 4px solid #4b8c8a;
   // padding: 21px 20px;
   // border-radius: 100%;
   // box-sizing: border-box;
}

//..............................................................................................................................
//.MMMMMM...MMMMMM.................dddd.iiii...................QQQQQQQ................................iiii......................
//.MMMMMM...MMMMMM.................dddd.iiii.................QQQQQQQQQQ...............................iiii......................
//.MMMMMM...MMMMMM.................dddd.....................QQQQQQQQQQQQ........................................................
//.MMMMMMM.MMMMMMM..eeeeee....ddddddddd.iiii..aaaaaa........QQQQQ..QQQQQ.Quuu..uuuuu..eeeeee..errrrrrriiii..eeeeee...sssssss....
//.MMMMMMM.MMMMMMM.eeeeeeee..dddddddddd.iiii.aaaaaaaa...... QQQQ.....QQQQQuuu..uuuuu.eeeeeeee.errrrrrriiii.eeeeeeee.essssssss...
//.MMMMMMM.MMMMMMMeeee.eeee.edddd.ddddd.iiiiiaaa.aaaaa..... QQQ......QQQQQuuu..uuuuuueee.eeee.errrr...iiiiieee.eeee.esss.ssss...
//.MMMMMMMMMMMMMMMeeee..eeeeeddd...dddd.iiii....aaaaaa..... QQQ......QQQQQuuu..uuuuuueee..eeeeerrr....iiiiieee..eeeeessss.......
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiii.aaaaaaaaa..... QQQ..QQQ.QQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee.ssssss.....
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiiiiaaaaaaaaa..... QQQQ.QQQQQQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee..sssssss...
//.MMMM.MMMMM.MMMMeeee......eddd...dddd.iiiiiaaa.aaaaa......QQQQQ.QQQQQQ.Quuu..uuuuuueee......errr....iiiiieee............ssss..
//.MMMM.MMMMM.MMMMeeee..eeeeedddd.ddddd.iiiiiaaa.aaaaa......QQQQQQQQQQQQ.Quuuu.uuuuuueee..eeeeerrr....iiiiieee..eeeeesss..ssss..
//.MMMM.MMMMM.MMMM.eeeeeeee..dddddddddd.iiiiiaaaaaaaaa.......QQQQQQQQQQQ..uuuuuuuuuu.eeeeeeee.errr....iiii.eeeeeeee.essssssss...
//.MMMM.MMMMM.MMMM..eeeeee....ddddddddd.iiii.aaaaaaaaa.........QQQQQQQQQQ..uuuuuuuuu..eeeeee..errr....iiii..eeeeee....ssssss....
//....................................................................QQQ.......................................................
//..............................................................................................................................

@media only screen and (max-width: 1024px) {
    .row.cta-box {
        max-width: 80%;
        
    }
    
    .cta-btns {
        margin: 5px 0;
    }
}

@media only screen and (max-width: 600px) {
    .row.cta-box {
        max-width: 100%;
        
    }
    
    .cta-btns {
        margin: 5px 0;
    }
}