// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-module {
 margin: 50px auto;
 max-width: 70%;
}

h2.wiki-header {
 font-family: 'Special Elite', cursive;
 color: #4B8C8A;
 // font-size: 2.5em;
}

.wiki-module .panel {
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)!important;
}

.wiki-btn {
 margin: 0 auto;
 text-transform: uppercase;
}

.btn-block {
 margin: 10px auto;
 text-transform: uppercase;
}

.wiki-my-btn {
 background-color: #38353A;
 border-radius: 4px;
 border: 2px solid #38353A;
 color: #C67B52;
 text-decoration: none;
 padding: 10px 24px;
 transition: all .3s;
}

.wiki-my-btn:hover {
 background-color: #C67B52;
 border-radius: 4px;
 border: 2px solid #C67B52;
 color: #EEEBE7;
 text-decoration: none;
 padding: 10px 24px;
 transition: all .3s;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

//..............................................................................................................................
//.MMMMMM...MMMMMM.................dddd.iiii...................QQQQQQQ................................iiii......................
//.MMMMMM...MMMMMM.................dddd.iiii.................QQQQQQQQQQ...............................iiii......................
//.MMMMMM...MMMMMM.................dddd.....................QQQQQQQQQQQQ........................................................
//.MMMMMMM.MMMMMMM..eeeeee....ddddddddd.iiii..aaaaaa........QQQQQ..QQQQQ.Quuu..uuuuu..eeeeee..errrrrrriiii..eeeeee...sssssss....
//.MMMMMMM.MMMMMMM.eeeeeeee..dddddddddd.iiii.aaaaaaaa...... QQQQ.....QQQQQuuu..uuuuu.eeeeeeee.errrrrrriiii.eeeeeeee.essssssss...
//.MMMMMMM.MMMMMMMeeee.eeee.edddd.ddddd.iiiiiaaa.aaaaa..... QQQ......QQQQQuuu..uuuuuueee.eeee.errrr...iiiiieee.eeee.esss.ssss...
//.MMMMMMMMMMMMMMMeeee..eeeeeddd...dddd.iiii....aaaaaa..... QQQ......QQQQQuuu..uuuuuueee..eeeeerrr....iiiiieee..eeeeessss.......
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiii.aaaaaaaaa..... QQQ..QQQ.QQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee.ssssss.....
//.MMMMMMMMMMMMMMMeeeeeeeeeeeddd...dddd.iiiiiaaaaaaaaa..... QQQQ.QQQQQQQQQuuu..uuuuuueeeeeeeeeerrr....iiiiieeeeeeeee..sssssss...
//.MMMM.MMMMM.MMMMeeee......eddd...dddd.iiiiiaaa.aaaaa......QQQQQ.QQQQQQ.Quuu..uuuuuueee......errr....iiiiieee............ssss..
//.MMMM.MMMMM.MMMMeeee..eeeeedddd.ddddd.iiiiiaaa.aaaaa......QQQQQQQQQQQQ.Quuuu.uuuuuueee..eeeeerrr....iiiiieee..eeeeesss..ssss..
//.MMMM.MMMMM.MMMM.eeeeeeee..dddddddddd.iiiiiaaaaaaaaa.......QQQQQQQQQQQ..uuuuuuuuuu.eeeeeeee.errr....iiii.eeeeeeee.essssssss...
//.MMMM.MMMMM.MMMM..eeeeee....ddddddddd.iiii.aaaaaaaaa.........QQQQQQQQQQ..uuuuuuuuu..eeeeee..errr....iiii..eeeeee....ssssss....
//....................................................................QQQ.......................................................
//..............................................................................................................................

@media only screen and (max-width: 1024px) {
    .wiki-module {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .wiki-module {
        max-width: 100%;
    }
}

