<div class="row text-center" >
  <div class="col-md-3"></div>
  <div class= "col-md-6  upgrade-card">
    <div class="icon-box">
      <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
    </div>
    <p class="lead">Premium Plan</p>
    <p class="premium-plan">Upgrade now to create as many<br> <span class="accent-word-1">private</span> wikis as you want!</p>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
  </div>
  <div class="col-md-3"></div>
</div>


